[Desktop Entry]
Type=Application
Exec=redshift
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Redshift
Name=Redshift
Comment[en_US]=Tint the display for reduced eyestrain
Comment=Tint the display for reduced eyestrain
